<!DOCTYPE html>
<html lang="en" dir="ltr"><head>
  
                           
     


<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="generator" content="Hugo 0.142.0">
<title>Warm woolen mittens | Steph&#39;s website</title>








  
    
  
<meta name="description" content="Grid is the very first CSS module created specifically to solve the layout problems we’ve all been hacking our way around for as long as we’ve been making websites.">


<meta property="og:site_name" content="Steph&#39;s website">
<meta property="og:title" content="Warm woolen mittens | Steph&#39;s website">
<meta property="og:description" content="Grid is the very first CSS module created specifically to solve the layout problems we’ve all been hacking our way around for as long as we’ve been making websites." />
<meta property="og:type" content="page" />
<meta property="og:url" content="https://stragu.gitlab.io/collection/day02/03-blogdown/" />
<meta property="og:locale" content="en">




    
        <meta property="og:image" content="https://stragu.gitlab.io/img/papillons.jpg" >
        <meta property="twitter:card" content="summary_large_image">
        <meta name="twitter:image" content="https://stragu.gitlab.io/img/papillons.jpg" >
    
  
  <meta itemprop="name" content="Warm woolen mittens">
  <meta itemprop="description" content="Hi, I&#39;m the here-bot cat! Use me to find your way in your website.
Here I am: content/collection/day02/03-blogdown/index.md To remove me, delete this line inside that file: {{&lt; here &gt;}}
My content section is: collection My layout is: single-series part 2! does this work? now for some very cool things more get ready!">
  <meta itemprop="datePublished" content="2021-01-02T00:00:00+00:00">
  <meta itemprop="dateModified" content="2021-01-02T00:00:00+00:00">
  <meta itemprop="wordCount" content="53">
  
  <!--[if IE]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
  
  
  <link rel="stylesheet" href="/style.main.min.3354924ee9e9c753fa6fbbf5a70d4e44ffc45442bee826dce0f60e35d269a94d.css" integrity="sha256-M1SSTunpx1P6b7v1pw1ORP/EVEK&#43;6Cbc4PYONdJpqU0=" media="screen">
  
  
  <script src="/panelset.min.ed1ac24b6e16f4e2481e3d1d098ae66f5bc77438aef619e6e266d8ac5b00dc72.js" type="text/javascript"></script>
  
  
  <script src="/main.min.c31b1eff92f8b9ee6643b1b27df3d9fbd8f6313dab5e71a30ae88f6b10650301.js" type="text/javascript"></script>
</head>
<body>
      <div class="grid-container single-series">
<header class="site-header pt4 pb2 mb4 bb b--transparent ph5 headroom z-max" role="banner">
  <nav class="site-nav db dt-l w-100" role="navigation">
    <a class="site-brand db dtc-l v-mid link no-underline w-100 w-33-l tc tl-l" href="https://stragu.gitlab.io/" title="Home">
      <img src="/img/blogophonic-mark-dark.png" class="dib db-l h2 w-auto" alt="Steph&#39;s website">
    </a>
    <div class="site-links db dtc-l v-mid w-100 w-47-l tc tr-l mt3 mt0-l ttu tracked">
      
        
        
        
      <a class="link f6 f5-l dib pv1 ph2 " href="/about/" title="About Steph">About</a>
      
        
        
        
      <a class="link f6 f5-l dib pv1 ph2 " href="/blog/" title="Blog">Blog</a>
      
      
    </div>
  </nav>
</header>


<main class="page-main ph4 pt4" role="main">
  <section class="page-content mw7 center">
    <article class="post-content pa0 pr3-l">
      <header class="post-header">
        <h4 class="breadcrumb pb5">

  
    
      
  
    
      
  
    
      
  

    
    
      <a href="/collection/">Create a Collection</a>
       >
    
  

    
    
      <a href="/collection/day02/">Day 02</a>
       >
    
  

    
    
      Warm woolen mittens
    
  

</h4>




        
        <h1 class="f1 lh-solid measure-narrow mb3 fw4">Warm woolen mittens</h1>
        
        
        
        
        
      
        
      </header>
      <section class="post-body pt5 pb4">
        <details class="f5 fw5 input-reset pa4 ba b--dotted bw1">
  <summary><i class="fas fa-cat fa-lg pr2"></i>Hi, I'm the here-bot cat!</summary>
  <p>Use me to find your way in your website.</p>
  
  <dl class="f5 lh-copy">
    <dt class="fw7">Here I am:</dt>
    <dd class="fw5 ml0">content/collection/day02/03-blogdown/index.md</dd>
  </dl>
  
  
  
  
  
    
      
  
  
  
  <p><i class="far fa-trash-alt pr2"></i>To remove me, delete this line inside that file: <code>{{&lt; here &gt;}}</code></p>
  
  <dl class="f5 lh-copy">
    <dt class="fw7">My content section is:</dt>
    <dd class="fw5 ml0">collection</dd>
  </dl>
  
  <dl class="f5 lh-copy">
    <dt class="fw7">My layout is:</dt>
    <dd class="fw5 ml0">single-series</dd>
  </dl>
  
  

</details>




<h2 id="part-2">part 2!
  <a href="#part-2"><svg class="anchor-symbol" aria-hidden="true" height="26" width="26" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 0h24v24H0z" fill="currentColor"></path>
      <path d="M3.9 12c0-1.71 1.39-3.1 3.1-3.1h4V7H7c-2.76.0-5 2.24-5 5s2.24 5 5 5h4v-1.9H7c-1.71.0-3.1-1.39-3.1-3.1zM8 13h8v-2H8v2zm9-6h-4v1.9h4c1.71.0 3.1 1.39 3.1 3.1s-1.39 3.1-3.1 3.1h-4V17h4c2.76.0 5-2.24 5-5s-2.24-5-5-5z"></path>
    </svg></a>
</h2>




<h3 id="does-this-work">does this work?
  <a href="#does-this-work"><svg class="anchor-symbol" aria-hidden="true" height="26" width="26" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 0h24v24H0z" fill="currentColor"></path>
      <path d="M3.9 12c0-1.71 1.39-3.1 3.1-3.1h4V7H7c-2.76.0-5 2.24-5 5s2.24 5 5 5h4v-1.9H7c-1.71.0-3.1-1.39-3.1-3.1zM8 13h8v-2H8v2zm9-6h-4v1.9h4c1.71.0 3.1 1.39 3.1 3.1s-1.39 3.1-3.1 3.1h-4V17h4c2.76.0 5-2.24 5-5s-2.24-5-5-5z"></path>
    </svg></a>
</h3>
<hr>




<h2 id="now-for-some-very-cool-things">now for some very cool things
  <a href="#now-for-some-very-cool-things"><svg class="anchor-symbol" aria-hidden="true" height="26" width="26" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 0h24v24H0z" fill="currentColor"></path>
      <path d="M3.9 12c0-1.71 1.39-3.1 3.1-3.1h4V7H7c-2.76.0-5 2.24-5 5s2.24 5 5 5h4v-1.9H7c-1.71.0-3.1-1.39-3.1-3.1zM8 13h8v-2H8v2zm9-6h-4v1.9h4c1.71.0 3.1 1.39 3.1 3.1s-1.39 3.1-3.1 3.1h-4V17h4c2.76.0 5-2.24 5-5s-2.24-5-5-5z"></path>
    </svg></a>
</h2>




<h2 id="more">more
  <a href="#more"><svg class="anchor-symbol" aria-hidden="true" height="26" width="26" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 0h24v24H0z" fill="currentColor"></path>
      <path d="M3.9 12c0-1.71 1.39-3.1 3.1-3.1h4V7H7c-2.76.0-5 2.24-5 5s2.24 5 5 5h4v-1.9H7c-1.71.0-3.1-1.39-3.1-3.1zM8 13h8v-2H8v2zm9-6h-4v1.9h4c1.71.0 3.1 1.39 3.1 3.1s-1.39 3.1-3.1 3.1h-4V17h4c2.76.0 5-2.24 5-5s-2.24-5-5-5z"></path>
    </svg></a>
</h2>




<h2 id="get-ready">get ready!
  <a href="#get-ready"><svg class="anchor-symbol" aria-hidden="true" height="26" width="26" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 0h24v24H0z" fill="currentColor"></path>
      <path d="M3.9 12c0-1.71 1.39-3.1 3.1-3.1h4V7H7c-2.76.0-5 2.24-5 5s2.24 5 5 5h4v-1.9H7c-1.71.0-3.1-1.39-3.1-3.1zM8 13h8v-2H8v2zm9-6h-4v1.9h4c1.71.0 3.1 1.39 3.1 3.1s-1.39 3.1-3.1 3.1h-4V17h4c2.76.0 5-2.24 5-5s-2.24-5-5-5z"></path>
    </svg></a>
</h2>

      </section>
      <footer class="post-footer">
        <div class="post-pagination dt w-100 mt4 mb2">
  
  
    <a class="prev dtc pr2 tl v-top fw6"
    href="https://stragu.gitlab.io/collection/day02/02-blogdown/">&larr; Using blogdown</a>
  
  
  
</div>

      </footer>
    </article>
    
  </section>
</main>

<aside class="page-sidebar" role="complementary">
                         
 











  <img src="/collection/featured-sidebar.jpg" class="db ma0">

                         
 



<div class="flex items-start sticky ph4 pb4 flex-row">
  <div class="w-two-thirds w-50-l ph0">
    <h2 class="mv3 f5 fw7 ttu tracked">
      <a class="no-underline dim" href="/collection/">Outline</a></h2>
    <nav id="SectionTableOfContents" aria-label="SectionTableOfContents">
        <ul>
        
          
          
          <li class="" hugo-nav="/collection/prework/">
            <a href="https://stragu.gitlab.io/collection/prework/">Prework</a></li>
          
          </li>
        
          
          
          
          <details  class="">
            <summary class="" hugo-nav="/collection/day01/"><a href="https://stragu.gitlab.io/collection/day01/">Day 01</a></summary>
            
              
              <li class="" hugo-nav="/collection/day01/01-github/"><a href="https://stragu.gitlab.io/collection/day01/01-github/">A GitHub profile</a></li>
            
              
              <li class="" hugo-nav="/collection/day01/02-postcards/"><a href="https://stragu.gitlab.io/collection/day01/02-postcards/">A postcard</a></li>
            
              
              <li class="" hugo-nav="/collection/day01/03-distill/"><a href="https://stragu.gitlab.io/collection/day01/03-distill/">A distill site</a></li>
            
          </details>
          
          </li>
        
          
          
          
          <details open class="active">
            <summary class="active" hugo-nav="/collection/day02/"><a href="https://stragu.gitlab.io/collection/day02/">Day 02</a></summary>
            
              
              <li class="" hugo-nav="/collection/day02/01-netlify/"><a href="https://stragu.gitlab.io/collection/day02/01-netlify/">Netlify</a></li>
            
              
              <li class="" hugo-nav="/collection/day02/02-blogdown/"><a href="https://stragu.gitlab.io/collection/day02/02-blogdown/">Using blogdown</a></li>
            
              
              <li class="active" hugo-nav="/collection/day02/03-blogdown/"><a href="https://stragu.gitlab.io/collection/day02/03-blogdown/">Warm woolen mittens</a></li>
            
          </details>
          
          </li>
        
        </ul>
    </nav>
  </div>
  <details id="PageTableOfContents">
    <summary><h2 class="mv0 f5 fw7 ttu tracked dib">On this page<h2></summary>
    <div class="pl2 pr0 mh0">
    <nav id="TableOfContents">
  <ul>
    <li><a href="#part-2">part 2!</a></li>
    <li><a href="#now-for-some-very-cool-things">now for some very cool things</a></li>
    <li><a href="#more">more</a></li>
    <li><a href="#get-ready">get ready!</a></li>
  </ul>
</nav>
    </div>
  </details>
  
</div>

</aside>

<footer class="site-footer pv4 bt b--transparent ph5" role="contentinfo">
  <nav class="db dt-l w-100">
    <p class="site-copyright f7 db dtc-l v-mid w-100 w-33-l tc tl-l pv2 pv0-l mv0 lh-copy">
      &copy; 2025 Stéphane Guillou, Meanjin / Brisbane
      <span class="middot-divider"></span>
      Made with <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title"><a xmlns:dct="http://purl.org/dc/terms/" href="https://github.com/hugo-apero/" rel="dct:source">Hugo Apéro</a></span>.
      <br />
      
Based on <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title"><a xmlns:dct="http://purl.org/dc/terms/" href="https://github.com/formspree/blogophonic-hugo" rel="dct:source">Blogophonic</a></span> by <a xmlns:cc="http://creativecommons.org/ns#" href="https://formspree.io" property="cc:attributionName" rel="cc:attributionURL">Formspree</a>.
    </p>
    
    <div class="site-social-links db dtc-l v-mid w-100 w-33-l tc pv2 pv0-l mv0">
      <div class="social-icon-links" aria-hidden="true">
  
  
    
    
    
      
    
    
    
    
    
      
    
    <a class="link dib h1 w1 ml0 mr2 f6 o-90 glow" href="https://github.com/stragu" title="github" target="_blank" rel="me noopener">
      <i class="fab fa-github fa-lg fa-fw"></i>
    </a>
  
    
    
    
      
    
    
    
    
    
      
    
    <a class="link dib h1 w1 ml0 mr2 f6 o-90 glow" href="https://github.com/stragu" title="gitlab" target="_blank" rel="me noopener">
      <i class="fab fa-gitlab fa-lg fa-fw"></i>
    </a>
  
    
    
    
      
    
    
    
    
    
      
    
    <a class="link dib h1 w1 ml0 mr2 f6 o-90 glow" href="https://mastodon.indie.host/@stragu" title="mastodon" target="_blank" rel="me noopener">
      <i class="fab fa-mastodon fa-lg fa-fw"></i>
    </a>
  
    
    
    
    
    
    
    
      
    
    <a class="link dib h1 w1 ml0 mr2 f6 o-90 glow" href="https://orcid.org/0000-0001-8992-0951" title="orcid" target="_blank" rel="me noopener">
      <i class="ai ai-orcid fa-lg fa-fw"></i>
    </a>
  
    
    
    
      
    
    
    
    
    
      
    
    <a class="link dib h1 w1 ml0 mr2 f6 o-90 glow" href="/blog/index.xml" title="rss" >
      <i class="fas fa-rss fa-lg fa-fw"></i>
    </a>
  
</div>

    </div>
    
    <div class="site-links f6 db dtc-l v-mid w-100 w-67-l tc tr-l pv2 pv0-l mv0">
      
      <a class="dib pv1 ph2 link" href="/license/" title="Licence">Licence</a>
      
      <a class="dib pv1 ph2 link" href="/contact/" title="Contact form">Contact</a>
      
      <a class="dib pv1 ph2 link" href="/contributors/" title="Contributors">Contributors</a>
      
    </div>
  </nav>
  
    <script>

    var i, text, code, codes = document.getElementsByTagName('code');
    for (let i = 0; i < codes.length;) {
      code = codes[i];
      if (code.parentNode.tagName !== 'PRE' && code.childElementCount === 0) {
        text = code.textContent;
        if (/^\$[^$]/.test(text) && /[^$]\$$/.test(text)) {
          text = text.replace(/^\$/, '\\(').replace(/\$$/, '\\)');
          code.textContent = text;
        }
        if (/^\\\((.|\s)+\\\)$/.test(text) ||
            /^\\\[(.|\s)+\\\]$/.test(text) ||
            /^\$(.|\s)+\$$/.test(text) ||
            /^\\begin\{([^}]+)\}(.|\s)+\\end\{[^}]+\}$/.test(text)) {
          code.outerHTML = code.innerHTML;  
          continue;
        }
      }
      i++;
    }
</script>

  
    
    
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.13.13/dist/katex.min.css" integrity="sha384-RZU/ijkSsFbcmivfdRBQDtwuwVqK7GMOw6IMvKyeWL2K5UAlyp6WonmB8m7Jd0Hn" crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.13/dist/katex.min.js" integrity="sha384-pK1WpvzWVBQiP0/GjnvRxV4mOb0oxFuyRxJlk6vVw146n3egcN5C925NCP7a7BY8" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.13/dist/contrib/auto-render.min.js" integrity="sha384-vZTG03m+2yp6N6BNi5iM4rW4oIwk5DfcNdFfxkk9ZWpDriOkXX8voJBFrAO7MpVl" crossorigin="anonymous" onload="renderMathInElement(document.body);"></script>



    
  
  
</footer>

      </div>
    </body>
</html>
