---
layout: default
---

<div class="home">

<p>I am a parent and partner currently working at The University of Queensland's Library, providing <a href="https://gitlab.com/stragu/DSH">training</a> and support for research software.</p>

<p>I sometimes <a href="https://soundcloud.com/jesuisgentil">experiment with sound</a>, irregularly produce a <a href="https://studio-dessai.gitlab.io/">radio show</a>, and <a href="https://www.mixcloud.com/GNTL/">string other people's songs together</a>.</p>

<p>I am passionate about plants, Open Science, Free and Open Source Software, universal access to knowledge and culture, community radio, electronic music, social justice and sustainability.</p>

<p>I might eventually write a few...</p>

  <h1 class="page-heading">...posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
